* {
    font-family: Calibri;
}
#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 960px;
}
#header {
    margin-right: 10px;
    margin-left: 10px;
    width: 940px;
    background-color: #6FD7FF;
}
#navigation ul li {
    display: inline-block;
}
#sidebar {
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    background-color: #445FCC;
    width: 220px;
}
#content {
    margin-right: 10px;
    float: right;
    margin-left: 10px;
    width: 700px;
    background-color: #FFCDAF;
}
#footer {
    margin-right: 10px;
    margin-left: 10px;
    clear: both;
    background-color: #CC6444;
    width: 940px;
}

@media screen and (max-width: 604px) {
    #wrapper {
        width: 604px;
    }
    #header, #footer {
        width: 584px;
    }
    #content {
        width: 344px;
    }
}

@media screen and (max-width: 320px) {
    #wrapper {
        width: 320px;
    }
    #header, #footer {
        width: 300px;
    }
    #content, #sidebar {
        width: 300px;
    }
}
